*{
    font-family: 'Varela Round', sans-serif;
    margin: 0%;
    padding: 0%;
}

.s1{
    background-image: url(./img/donation5.jpg) ;
    opacity: .9;
   height: 800px;
   background-repeat: no-repeat;
   width: 100%;
   background-size: 100%;
}
.benar{
    text-align: center;
}

.benar h1{
    color: rgb(252, 253, 255);
    font-size: 78px;
    font-weight: 900;
    width: 800px;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    padding-top: 100px;
    
}
 .benar p{
    color: rgb(117, 248, 1);
    font-size: 23px;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 180px;
}
.benar a{
    background-image: linear-gradient(tomato,red,black,blue);
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 20px;
    font-weight: 900;
    border-radius: 20px;
}

.s2{
    text-align: center;
    margin-top: 150px;
}
.s2 h1{
    font-size: 35px;
    font-weight: 800;
}
.s2 p{
    font-size: 20px;
    margin-top: 15px;
}
.div{
    display: flex;
    width: 60%;
    margin: auto;
}
.div .t1{
    padding: 50px;
    background-color: aliceblue;
    text-align: center;
    margin: 10px;
    margin-top: 70px;
}
.t1 b{
    font-size: 25px;
    margin-top: 50px;
}
.s2 .t1:nth-of-type(2){
    color: rgb(56, 1, 255);
    border: red 3px solid;
}

.x1{
    font-size: 20px;
    border-bottom: 3px solid rgb(79, 74, 74);
    width:60% ;
    margin: auto;
    display: block;
    margin-top: 80px;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

.s2 a{
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(rgb(76, 76, 222),rgb(160, 79, 79),rgb(56, 22, 22),tomato);
    font-size: 25px;
    color: white;
    border-radius: 20px;
    
}